@model List<QuizApp.Models.Quiz> //This tells the page it will receive a list of Quiz objects
@{
    ViewData["Title"] = "Home Page";// Set the page title
}
<div class="text-center ">
    <h1 class="display-4">Available Quizzes</h1>
    <table class="table table table-striped table-bordered align-middle hover">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center">
                    Quiz name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quiz in Model)//Loop through every quiz in the list
            {
                <tr>
                     <td class="text-center">
                        <a href="@Url.Action("Index", "Quiz",new{id = quiz.Id})">@quiz.Title</a>
                     </td>
                </tr>
            }
        </tbody>
    </table>
</div>
